{
  "presets": [
    "react",
    "env",
    "es2015",
    "stage-1",
    "transform-es2015-modules-commonjs",
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-object-rest-spread",
    "transform-decorators-legacy",
    "transform-class-properties",
    "syntax-dynamic-import",
    "transform-es2015-modules-commonjs",
    "dynamic-import-node"
  ]
}
