<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
  </head>
  <body>
    <script src="https://cdn.shopify.com/s/assets/external/app.js"></script>

    <script>
      window.apiKey = "<%= apiKey %>"
      window.shopOrigin = "https://<%= shop %>"

      const shopifyAppConfig = {
        apiKey: window.apiKey,
        shopOrigin: window.shopOrigin,
      }

      // This will allow you to access the app outside of the Shopify
      // parent iframe in development mode. Doing this will give you
      // access to React and Redux dev tools, but will also disrupt
      // postmessages to the parent and block EASDK calls
      // https://help.shopify.com/api/sdks/shopify-apps/embedded-app-sdk/methods#shopifyapp-init-config
      if ("<%= process.env.NODE_ENV %>" === 'development') {
        shopifyAppConfig.forceRedirect = false;
      }

      ShopifyApp.init(shopifyAppConfig);
    </script>
    <link
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css"
    />
    <div id="root" style="height: 100%;"></div>
    <script src="/assets/main.js"></script>
  </body>
  <style>
    .auth-app .ui.secondary.pointing.menu {
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 0px;
    }
    .ui.secondary.pointing.menu .active.item {
      border-color: #4267b2;
    }
    .ui.secondary.pointing.menu .active.item:hover {
      border-color: #4267b2;
    }
    .auth-app {
      width: 40%;
    }
    .fb-button-style {
      background: #4267b2;
      color: white;
      font-size: 16px;
      border-radius: 6px;
    }
    .ui.segment {
      border: 0px;
      box-shadow: 0 0px 0px 0 rgba(34,36,38,.15);;
    }
    .industry-list {
      width: 50% !important;
    }
    .fa-facebook-f {
      margin-right: 10px;
      color: #4c69ba;
      font-size: 25px;
      background-color: white;
      border-radius: 10%;
      width: 25px;
      margin-top: 5px;
      margin-bottom: 5px;
      text-align: right;
      padding-right: 3px;
    }
    .first-page {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .sub-header {
      text-align: center;
      margin-top: 5%;
      margin-bottom: 5%;
    }
    .kep-login-facebook.small {
      border-radius: 5%;
    }
    .ui.attached.segment {
      border: 0px;
    }
    .custom_trigger {
      background-color: white;
      border: 2px solid #ccc;
    }
    .visible.transition {
      display: grid !important;
    }
    .message-div-first {
      background-color: #3b5998;
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
    }
    .message-div-second {
      border: 1px solid #ccc;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
    }
    .ui.modal>.msg-modal-content {
      border-radius: 25px;
      padding: 3.8rem;
    }
    .ui.grid>.message-box-container {
      padding: 0px;
    }
    h3.ui.header.message-header-content-first {
      margin-top: 1rem;
      color: white;
    }
    h4.ui.header.message-header-content-second {
      margin-top: 1rem;
      margin-bottom: 1rem;
      color: white;
    }
    .message-input-field {
      margin-top: 30px;
      margin-bottom: 30px;
    }

    textarea.message-content:focus {
      padding: 16px;
    }
    textarea.message-content:focus::placeholder {
      color:transparent;
    }
    button.ui.black.basic.button.tag-button {
      margin-bottom: 10px;
    }
    .ui.small.modal.transition.visible.active.msg-trigger-modal {
      margin-top: 0px !important;
    }
    textarea.message-content {
      padding: 16px !important;
    }
  </style>
</html>
